<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no" />
  <title>幼教通</title>
  <script src="../../static/mui.js"></script>
  <link rel="stylesheet" href="../../static/aui.css" />
  <style type="text/css">
    html,body {height: 100%;}
    body,.aui-card-list {background-color: #333 !important;color: #fff;}
  </style>
</head>

<body>
<div id="vue-app" v-cloak>
  <header id="header" class="aui-bar aui-bar-nav">
    <a class="aui-pull-left aui-btn">共 {{total}} 班</a>
    <a class="aui-pull-right aui-btn">
      新增
    </a>
  </header>
  <div class="aui-content">
    <ul class="aui-list aui-list-in">
      <li v-for="one in list" class="aui-list-item">
        <div class="aui-list-item-inner aui-list-item-arrow">
          <div class="aui-list-item-title"><div v-if="one.id === currentId" class="aui-label aui-label-info">当前</div>{{one.classesname}}</div>
          <div class="aui-list-item-right">
            <div class="aui-btn aui-btn-primary">编辑</div>
          </div>
        </div>
      </li>
      <!-- <li class="aui-list-item">
        <div class="aui-list-item-inner aui-list-item-arrow">
          <div class="aui-list-item-title">启蒙二班</div>
          <div class="aui-list-item-right">
            <div class="aui-btn aui-btn-primary">编辑</div>
          </div>
        </div>
      </li> -->
    </ul>
  </div>
  <div class="aui-content">
    <ul class="aui-list aui-form-list">
      <li class="aui-list-header">添加一个新班级/编辑班级信息</li>
      <li class="aui-list-item">
        <div class="aui-list-item-inner">
          <div class="aui-list-item-label">名称</div>
          <div class="aui-list-item-input"><input type="text" placeholder="班级名称" name="" id=""></div>
        </div>
      </li>
      <li class="aui-list-item">
        <div class="aui-list-item-inner">
          <div class="aui-list-item-label">排序</div>
          <div class="aui-list-item-input"><input type="number" placeholder="班级排序" name="" id=""></div>
        </div>
      </li>
      <li class="aui-list-item">
        <div class="aui-list-item-inner">
          <div class="aui-list-item-label">开始</div>
          <div class="aui-list-item-input"><input type="date" name="" id=""></div>
        </div>
      </li>
      <li class="aui-list-item">
        <div class="aui-list-item-inner">
          <div class="aui-list-item-label">结束</div>
          <div class="aui-list-item-input"><input type="date" name="" id=""></div>
        </div>
      </li>
      <li class="aui-list-item">
        <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
          <div class="aui-btn aui-btn-info aui-margin-r-5">新增班级</div>
          <div class="aui-btn aui-btn-danger aui-margin-l-5">删除班级</div>
        </div>
      </li>
    </ul>
  </div>
</div>
</body>
</html>