<div>
<header id="header" class="aui-bar aui-bar-nav">
  <span class="aui-pull-left aui-btn">共 {{total}} 班</span>
  <span class="aui-pull-right aui-btn add">添加班级</span>
</header>
<div id="list" class="aui-content">
  <ul class="aui-list aui-list-in">
    <li v-for="one in lists" :data-id="one.id" class="aui-list-item">
      <div class="aui-list-item-inner aui-list-item-arrow">
        <div class="aui-list-item-title"><div v-if="one.id === currentId" class="aui-label aui-label-info">当前</div>{{one.classesname}}</div>
        <div class="aui-list-item-right">
          <div class="aui-btn aui-btn-primary edit">编辑</div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div id="op" class="aui-content">
  <ul class="aui-list aui-form-list">
    <li class="aui-list-header">{{formtitle}}</li>
    <input type="hidden" v-model="formdata.id" name="id">
    <li class="aui-list-item">
      <div class="aui-list-item-inner">
        <div class="aui-list-item-label">名称</div>
        <div class="aui-list-item-input"><input type="text" v-model="formdata.classesname" placeholder="班级名称" name="classesname"></div>
      </div>
    </li>
    <li class="aui-list-item">
      <div class="aui-list-item-inner">
        <div class="aui-list-item-label">排序</div>
        <div class="aui-list-item-input"><input type="number" v-model="formdata.listorder" placeholder="班级排序" name="listorder"></div>
      </div>
    </li>
    <li class="aui-list-item">
      <div class="aui-list-item-inner">
        <div class="aui-list-item-label">开始</div>
        <div class="aui-list-item-input"><input type="date" v-model="formdata.startdate" name="startdate"></div>
      </div>
    </li>
    <li class="aui-list-item">
      <div class="aui-list-item-inner">
        <div class="aui-list-item-label">结束</div>
        <div class="aui-list-item-input"><input type="date" v-model="formdata.enddate" name="enddate"></div>
      </div>
    </li>
    <li class="aui-list-item">
      <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
        <template v-if="editId > 0">
          <div class="aui-btn aui-btn-info aui-margin-r-5 edit">提交修改</div>
          <div class="aui-btn aui-btn-danger aui-margin-l-5 del">删除班级</div>
        </template>
        <div v-if="editId === 0" class="aui-btn aui-btn-info aui-margin-r-5 edit">添加班级</div>
      </div>
    </li>
  </ul>
</div>
</div>