<div>
  <div class="aui-searchbar">
    <div class="aui-searchbar-input aui-border-radius">
      <i class="aui-iconfont aui-icon-search"></i>
      <input type="search" placeholder="请输入家长提供的宝宝ID号">
      <div class="aui-searchbar-clear-btn">
        <i class="aui-iconfont aui-icon-close"></i>
      </div>
    </div>
    <div class="aui-searchbar-btn">取消</div>
    <a class="aui-pull-right aui-btn aui-margin-r-10">
      <span class="aui-iconfont aui-icon-camera" style="margin-right:0;"></span>
    </a>
  </div>
  <input type="hidden" id="keywords" v-on:click="searchkeywords">
  <div v-if="studentInfo" class=" aui-content">
    <ul class=" aui-list aui-form-list aui-media-list">
      <li class=" aui-list-header">学生信息</li>
      <li class="aui-list-item aui-list-item-middle">
        <div class="aui-media-list-item-inner">
          <div class=" aui-list-item-label">姓名</div>
          <div class="aui-list-item-inner">
            <div class="aui-list-item-text">
              <div class="aui-list-item-title aui-font-size-14">{{studentInfo.babyname}}</div>
            </div>
            <div class="aui-list-item-media aui-list-item-right">
              <img :src="studentInfo.avatar" class="aui-img-round">
            </div>
          </div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">妈妈</div>
          <div class="aui-list-item-inner">
              <div class="aui-list-item-text">
                <div class="aui-list-item-title aui-font-size-14">张平</div>
              </div>
              <div class="aui-list-item-right aui-margin-r-15">
                <span>Tel：18600566543</span>
                <div class=" aui-btn aui-btn-primary">拨打</div>
              </div>
            </div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">爸爸</div>
          <div class="aui-list-item-inner">
            <div class="aui-list-item-text">
              <div class="aui-list-item-title aui-font-size-14">张平</div>
            </div>
            <div class="aui-list-item-right aui-margin-r-15">
              <span>Tel：18600566543</span>
              <div class=" aui-btn aui-btn-primary">拨打</div>
            </div>
          </div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">奶奶</div>
          <div class="aui-list-item-inner">
            <div class="aui-list-item-text">
              <div class="aui-list-item-title aui-font-size-14">张平</div>
            </div>
            <div class="aui-list-item-right aui-margin-r-15">
              <span>Tel：18600566543</span>
              <div class=" aui-btn aui-btn-primary">拨打</div>
            </div>
          </div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">性别</div>
          <div class="aui-list-item-input">{{studentInfo.gender}}</div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">生日</div>
          <div class="aui-list-item-input">{{studentInfo.birthday}}</div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">入学时间</div>
          <div class="aui-list-item-input"><input type="date" v-model="studentInfo.startdate"></div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">入学时间</div>
          <div class="aui-list-item-input"><input type="date" v-model="studentInfo.enddate"></div>
        </div>
      </li>
      <li class="aui-list-item">
        <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
          <div class="aui-btn aui-btn-info aui-btn-block aui-btn-sm" @tap="doSubmit">{{submitName}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>