/*角标*/
.aui-badge {
    display: inline-block;
    width: auto;
    text-align: center;
    min-width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    padding: 0 0.2rem;
    font-size: 0.6rem;
    color: #ffffff;
    background-color: #ff2600;
    border-radius: 0.4rem;
    position: absolute;
    top: 0.2rem;
    left: 60%;
    z-index: 99;
}
.aui-dot {
    display: inline-block;
    width: 0.4rem;
    height: 0.4rem;
    background: #ff2600;
    border-radius: 0.5rem;
    position: absolute;
    top: 0.3rem;
    right: 20%;
    z-index: 99;
}