/*角标*/
.aui-badge {
    display: inline-block;
    width: auto;
    text-align: center;
    min-width: 16px;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
    font-size: 12px;
    color: #ffffff;
    background-color: #ff2600;
    border-radius: 8px;
    position: absolute;
    top: 4px;
    left: 60%;
    z-index: 99;
}
.aui-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #ff2600;
    border-radius: 10px;
    position: absolute;
    top: 6px;
    right: 20%;
    z-index: 99;
}