/*按钮工具栏*/
.aui-bar-btn {
    position: relative;
    font-size: 14px;
    display: table;
    white-space: nowrap;
    margin: 0 auto;
    padding: 0;
    border: none;
    width: 100%;
    min-height: 36px;
}
.aui-bar-btn-item {
    display: table-cell;
    position: relative;
    width: 1%;
    line-height: 32px;
    text-align: center;
    vertical-align: middle;
    border-radius: 0;
    position: relative;
    border-width: 1px; 
    border-style: solid;
    border-color: #03a9f4;
    border-left-width: 0;
}
.aui-bar-btn .aui-input,
.aui-bar-btn input,
.aui-bar-btn select {
    padding-left: 5px;
    padding-right: 5px;
    height: 36px;
}
.aui-bar-btn-sm {
    min-height: 26px;
}
.aui-bar-btn.aui-bar-btn-sm  .aui-input,
.aui-bar-btn.aui-bar-btn-sm  input,
.aui-bar-btn.aui-bar-btn-sm  select {
    height: 24px;
}
.aui-bar-btn-sm .aui-bar-btn-item {
    line-height: 26px;
    font-size: 12px;
}
.aui-bar-btn-item.aui-active {
    background-color: #03a9f4;
    color: #ffffff;
}
.aui-bar-btn-item:first-child {
    border-left-width: 1px; 
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.aui-bar-btn-item:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-left: 0px;
}
.aui-bar-btn.aui-bar-btn-full .aui-bar-btn-item:first-child {
    border-left-width: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.aui-bar-btn.aui-bar-btn-full .aui-bar-btn-item:last-child {
    border-right-width: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.aui-bar-btn.aui-bar-btn-round .aui-bar-btn-item:first-child {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.aui-bar-btn.aui-bar-btn-round .aui-bar-btn-item:last-child {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.aui-bar-nav .aui-bar-btn {
    margin-top: 9px;
    margin-bottom: 8px;
    min-height: 26px;
}
.aui-bar-nav .aui-bar-btn-item {
    line-height: 26px;
    border-color: #ffffff;
}
.aui-bar-nav .aui-bar-btn-item.aui-active {
    background-color: #ffffff;
    color: #03a9f4;
}
.aui-bar-nav.aui-bar-light .aui-bar-btn-item {
    border-color: #03a9f4;
}
.aui-bar-nav.aui-bar-light .aui-bar-btn-item.aui-active {
    background-color: #03a9f4;
    color: #ffffff;
}
.aui-bar-nav > .aui-bar-btn {
    width: 50%;
}