/*底部切换栏*/
.aui-bar-tab {
    position: fixed;
    top: auto;
    bottom: 0;
    table-layout: fixed;
    background-color: #ffffff;
    color: #757575;
}
.aui-bar-tab .aui-bar-tab-item {
    display: table-cell;
    position: relative;
    width: 1%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}
.aui-bar-tab .aui-active {
    color: #039be5;
}
.aui-bar-tab .aui-bar-tab-item .aui-iconfont {
    position: relative;
    z-index: 20;
    top: 2px;
    height: 24px;
    font-size: 20px;
    line-height: 20px;
}
.aui-bar-tab .aui-bar-tab-label {
    display: block;
    font-size: 12px;
    position: relative;
}
.aui-bar-tab .aui-badge {
    position: absolute;
    top: 2px;
    left: 55%;
    z-index: 99;
}
.aui-bar-tab .aui-dot {
    position: absolute;
    top: 2px;
    right: 30%;
    z-index: 99;
}