/*边框样式*/
.aui-border-l {
    border-left: 1px solid #dddddd; 
}
.aui-border-r {
    border-right: 1px solid #dddddd; 
}
.aui-border-t {
    border-top: 1px solid #dddddd; 
}
.aui-border-b {
    border-bottom: 1px solid #dddddd; 
}
.aui-border {
    border: 1px solid #dddddd; 
}
@media screen and (-webkit-min-device-pixel-ratio:1.5) {
    .aui-border-l {
        border: none;
        background-image: -webkit-linear-gradient(0deg, #dddddd, #dddddd 50%, transparent 50%);
        background-image: linear-gradient(270deg, #dddddd, #dddddd 50%, transparent 50%);
        background-size: 1px 100%; 
        background-repeat: no-repeat;
        background-position: left;
    }
    .aui-border-r {
        border: none;
        background-image: -webkit-linear-gradient(0deg, #dddddd, #dddddd 50%, transparent 50%);
        background-image: linear-gradient(270deg, #dddddd, #dddddd 50%, transparent 50%);
        background-size: 1px 100%; 
        background-repeat: no-repeat;
        background-position: right;
    }
    .aui-border-t{
        border: none;
        background-size: 100% 1px; 
        background-repeat: no-repeat;
        background-position: top;
        background-image: linear-gradient(0,#dddddd,#dddddd 50%,transparent 50%);
        background-image: -webkit-linear-gradient(90deg,#dddddd,#dddddd 50%,transparent 50%);
    }
    .aui-border-b {
        border: none;
        background-size: 100% 1px; 
        background-repeat: no-repeat;
        background-position: bottom;
        background-image: linear-gradient(0,#dddddd,#dddddd 50%,transparent 50%);
        background-image: -webkit-linear-gradient(90deg,#dddddd,#dddddd 50%,transparent 50%);
    }
    .aui-border{
        border: none;
        background-image: -webkit-linear-gradient(270deg, #dddddd, #dddddd 50%, transparent 50%), -webkit-linear-gradient(180deg, #dddddd, #dddddd 50%, transparent 50%), -webkit-linear-gradient(90deg, #dddddd, #dddddd 50%, transparent 50%), -webkit-linear-gradient(0, #dddddd, #dddddd 50%, transparent 50%);
        background-image: linear-gradient(180deg, #dddddd, #dddddd 50%, transparent 50%), linear-gradient(270deg, #dddddd, #dddddd 50%, transparent 50%), linear-gradient(0deg, #dddddd, #dddddd 50%, transparent 50%), linear-gradient(90deg, #dddddd, #dddddd 50%, transparent 50%);
        background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%; 
        background-repeat: no-repeat;
        background-position: top, right top, bottom, left top;
    }
}