/*宫格布局*/
.aui-grid {
    width: 100%;
    background-color: #ffffff;
    display: table;
    table-layout: fixed;
}
.aui-grid [class*=aui-col-] {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 20px 0;
}
.aui-grid [class*=aui-col-xs-]:active {
    background-color: #f5f5f5;
}
.aui-grid .aui-iconfont {
    position: relative;
    z-index: 20;
    top: 0;
    height: 28px;
    font-size: 28px;
    line-height: 28px;
}
.aui-grid .aui-grid-label {
    display: block;
    font-size: 14px;
    position: relative;
    margin-top: 5px;
}
.aui-grid .aui-badge {
    position: absolute;
    top: 10px;
    left: 60%;
    z-index: 99;
}
.aui-grid .aui-dot {
    position: absolute;
    top: 10px;
    right: 20%;
    z-index: 99;
}