@import "./base.scss";
@import "./animation.scss";

@font-face {
    font-family: "aui_iconfont";
    src: url('../fonts/aui-iconfont.ttf') format('truetype');
}
.aui-iconfont {
    position: relative;
    font-family:"aui_iconfont" !important;
    font-size: 0.7rem;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}