/*popup*/
.aui-popup {
    padding: 0;
    margin: 0;
    background: transparent;
    position: fixed;
    height: auto;
    min-width: 140px;
    min-height: 90px;
    z-index: 999;
    opacity: 0;
    -webkit-transition-property: -webkit-transform, opacity;
            transition-property: transform, opacity;
}
.aui-popup.aui-popup-in {
    opacity: 1;
    -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.aui-popup.aui-popup-out {
    opacity: 0;
    -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.aui-popup-right {
    right: 15px;
}
.aui-popup-content {
    background-color: #ffffff;
    border-radius: 4px;
    overflow: hidden;
    min-height: 90px;
    height: 100%;
}
.aui-popup-top,
.aui-popup-top-left,
.aui-popup-top-right {
    top: 9px;
}
.aui-popup-top {
    left: 50%;
    margin-left: -70px;
}
.aui-popup-top-left {
    left: 9px;
}
.aui-popup-top-right {
    right: 9px;
}
.aui-popup-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
}
.aui-popup-top .aui-popup-arrow,
.aui-popup-top-left .aui-popup-arrow,
.aui-popup-top-right .aui-popup-arrow {
    top: 4px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
.aui-popup-top .aui-popup-arrow {
    left: 50%;
    margin-left: -5px;
    margin-top: -8px;
}
.aui-popup-top-left .aui-popup-arrow {
    left: 5px;
    margin-top: -8px;
}
.aui-popup-top-right .aui-popup-arrow {
    right: 5px;
    margin-top: -8px;
}
.aui-popup-bottom,
.aui-popup-bottom-left,
.aui-popup-bottom-right {
    bottom: 9px;
}
.aui-popup-bottom {
    left: 50%;
    margin-left: -70px;
}
.aui-popup-bottom-left {
    left: 9px;
}
.aui-popup-bottom-right {
    right: 9px;
}
.aui-popup-bottom .aui-popup-arrow,
.aui-popup-bottom-left .aui-popup-arrow,
.aui-popup-bottom-right .aui-popup-arrow {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 4px;
}
.aui-popup-bottom .aui-popup-arrow {
    left: 50%;
    margin-left: -5px;
    margin-bottom: -8px;
}
.aui-popup-bottom-left .aui-popup-arrow {
    left: 5px;
    margin-bottom: -8px;
}
.aui-popup-bottom-right .aui-popup-arrow {
    right: 5px;
    margin-bottom: -8px;
}
.aui-popup .aui-list {
    background: transparent;
}
.aui-popup-content .aui-list img {
    display: block;
    width: 20px;
}