/*popup*/
.aui-popup {
    padding: 0;
    margin: 0;
    background: transparent;
    position: fixed;
    height: auto;
    min-width: 7rem;
    min-height: 4.5rem;
    z-index: 999;
    opacity: 0;
    -webkit-transition-property: -webkit-transform, opacity;
            transition-property: transform, opacity;
}
.aui-popup.aui-popup-in {
    opacity: 1;
    -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.aui-popup.aui-popup-out {
    opacity: 0;
    -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}
.aui-popup-right {
    right: 0.75rem;
}
.aui-popup-content {
    background-color: #ffffff;
    border-radius: 0.2rem;
    overflow: hidden;
    min-height: 4.5rem;
    height: 100%;
}
.aui-popup-top,
.aui-popup-top-left,
.aui-popup-top-right {
    top: 0.45rem;
}
.aui-popup-top {
    left: 50%;
    margin-left: -3.5rem;
}
.aui-popup-top-left {
    left: 0.45rem;
}
.aui-popup-top-right {
    right: 0.45rem;
}
.aui-popup-arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-transform-origin: 50% 50% 0;
            transform-origin: 50% 50% 0;
    background-color: transparent;
    background-image: -webkit-linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
    background-image: linear-gradient(45deg, #ffffff, #ffffff 50%, transparent 50%);
}
.aui-popup-top .aui-popup-arrow,
.aui-popup-top-left .aui-popup-arrow,
.aui-popup-top-right .aui-popup-arrow {
    top: 0.2rem;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
}
.aui-popup-top .aui-popup-arrow {
    left: 50%;
    margin-left: -0.25rem;
    margin-top: -0.4rem;
}
.aui-popup-top-left .aui-popup-arrow {
    left: 0.25rem;
    margin-top: -0.4rem;
}
.aui-popup-top-right .aui-popup-arrow {
    right: 0.25rem;
    margin-top: -0.4rem;
}
.aui-popup-bottom,
.aui-popup-bottom-left,
.aui-popup-bottom-right {
    bottom: 0.45rem;
}
.aui-popup-bottom {
    left: 50%;
    margin-left: -3.5rem;
}
.aui-popup-bottom-left {
    left: 0.45rem;
}
.aui-popup-bottom-right {
    right: 0.45rem;
}
.aui-popup-bottom .aui-popup-arrow,
.aui-popup-bottom-left .aui-popup-arrow,
.aui-popup-bottom-right .aui-popup-arrow {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 0.2rem;
}
.aui-popup-bottom .aui-popup-arrow {
    left: 50%;
    margin-left: -0.25rem;
    margin-bottom: -0.4rem;
}
.aui-popup-bottom-left .aui-popup-arrow {
    left: 0.25rem;
    margin-bottom: -0.4rem;
}
.aui-popup-bottom-right .aui-popup-arrow {
    right: 0.25rem;
    margin-bottom: -0.4rem;
}
.aui-popup .aui-list {
    background: transparent;
}
.aui-popup-content .aui-list img {
    display: block;
    width: 1rem;
}