/*滑块*/
.aui-range {
    position: relative;
    display: inline-block;
}
.aui-range input[type='range']{
    height: 4px;
    border: 0;
    border-radius: 2px;
    background-color: #f0f0f0;
    position: relative;
    -webkit-appearance: none !important;
}
.aui-range input[type='range']::-webkit-slider-thumb {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-color: #03a9f4;
    background-color: #03a9f4;
    -webkit-appearance: none !important;
}
.aui-range .aui-range-tip {
    font-size: 20px;
    position: absolute;
    z-index: 999;
    top: -30px;
    width: 48px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #666666;
    border: 1px solid #dddddd; 
    border-radius: 6px;
    background-color: #ffffff;
}
.aui-input-row .aui-range input[type='range'] {
    width: 90%;
    margin-left: 5%;
}