<div>
  <div v-if="op === 'add'" class="aui-searchbar">
    <div class="aui-searchbar-input aui-border-radius">
      <i class="aui-iconfont aui-icon-search"></i>
      <input type="search" placeholder="请输入老师完整姓名查找">
      <div class="aui-searchbar-clear-btn">
        <i class="aui-iconfont aui-icon-close"></i>
      </div>
    </div>
    <div class="aui-searchbar-btn">取消</div>
  </div>
  <input type="hidden" id="keywords" v-model="keywords">
  <div v-if="op === 'add'" class="aui-content-padded">
    <div>请查询教师后添加</div>
    <label v-for="(teacher, index) in searchTeachers"><input class="aui-radio" type="radio" name="demo" :value="index" v-model="searchTeacherIndex"> 选项一</label>
  </div>
  <div v-if="teacherInfo" class=" aui-content">
    <ul class=" aui-list aui-form-list aui-media-list">
      <li class=" aui-list-header">老师信息</li>
      <li class="aui-list-item aui-list-item-middle">
        <div class="aui-media-list-item-inner">
          <div class=" aui-list-item-label">姓名</div>
          <div class="aui-list-item-inner">
            <div class="aui-list-item-text">
              <div class="aui-list-item-title aui-font-size-14">{{teacherInfo.truename}}</div>
            </div>
            <div class="aui-list-item-media aui-list-item-right">
              <img :src="teacherInfo.avatar" class="aui-img-round aui-list-img-sm">
            </div>
          </div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">电话</div>
          <div class="aui-list-item-inner">
              <div class="aui-list-item-text">
                <div class="aui-list-item-title aui-font-size-14">{{teacherInfo.mobile}}</div>
              </div>
              <div class="aui-list-item-media aui-list-item-right">
                <div class=" aui-btn aui-btn-primary">拨打</div>
              </div>
            </div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">职务</div>
          <div class=" aui-list-item-input"><input type="text" v-model="teacherInfo.teacherpost" placeholder="如：语文老师"></div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">性别</div>
          <div class="aui-list-item-input">{{teacherInfo.gender}}</div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">QQ</div>
          <div class="aui-list-item-input">{{teacherInfo.qq}}</div>
        </div>
      </li>
      <li class=" aui-list-item">
        <div class=" aui-list-item-inner">
          <div class=" aui-list-item-label">微信</div>
          <div class="aui-list-item-input">{{teacherInfo.wx}}</div>
        </div>
      </li>
      <li v-if="op !== 'view'" class="aui-list-item">
        <div class="aui-list-item-inner aui-list-item-center aui-list-item-btn">
          <div class="aui-btn aui-btn-info aui-btn-block aui-btn-sm" @tap="doSubmit()">{{submitName}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>