<div>
  <section class="aui-content aui-text-center aui-margin-b-15">
    <h2 class="aui-margin-t-15">{{classesName}}</h2>
    <div class="classes aui-row aui-margin-t-15">
      <div class=" aui-col-xs-6 aui-text-right aui-border-r aui-padded-r-10">
        <span :data-num="totalTeacher" class=" aui-text-danger aui-margin-r-5"></span>教师
      </div>
      <div class=" aui-col-xs-6 aui-text-left aui-padded-l-10">
        学生<span :data-num="totalStudent" class=" aui-text-danger aui-margin-l-5"></span>
      </div>
    </div>
  </section>
  <section class="teacher aui-content">
    <ul class=" aui-list aui-media-list">
      <div class=" aui-list-header">
        <div><i class=" aui-iconfont aui-icon-my aui-text-danger"></i> 班级老师</div>
        <div class="aui-list-item-right"><span class="add">添加</span> | 编辑 <input v-model="editTeacher" class="aui-switch" type="checkbox" name="teacher"></div>
      </div>
      <div v-if="teacherListsLoading" class="aui-text-center"><span class="mui-spinner"></span></div>
      <li v-for="(teacher, index) in teacherLists" :data-index="index" class="aui-list-item aui-list-item-middle">
        <div class="aui-media-list-item-inner">
          <div class="aui-list-item-media avatar">
            <img :src="teacher.avatar" class="aui-img-round aui-list-img-sm">
          </div>
          <div class="aui-list-item-inner aui-list-item-arrow">
            <div class="aui-list-item-text">
              <div class="aui-list-item-title aui-font-size-14">{{teacher.truename}}</div>
              <div v-if="editTeacher" class="aui-list-item-right">
                <div class=" aui-btn aui-btn-primary aui-margin-r-5 edit">编辑</div>
                <div class=" aui-btn aui-btn-danger del">删除</div>
              </div>
            </div>
            <div class="aui-list-item-text"><small class=" aui-font-size-12">{{teacher.teacherpost}}</small></div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <section class="student aui-content">
    <ul class=" aui-list aui-media-list">
      <div class=" aui-list-header">
        <div><i class=" aui-iconfont aui-icon-my aui-text-danger"></i> 班级学生</div>
        <div class="aui-list-item-right"><span class="add">添加</span> | 编辑 <input v-model="editStudent" class="aui-switch" type="checkbox" name="student"></div>
      </div>
      <div v-if="studentListsLoading" class="aui-text-center"><span class="mui-spinner"></span></div>
      <li v-for="student in studentLists" :data-id="student.id" class="aui-list-item aui-list-item-middle">
        <div class="aui-media-list-item-inner">
          <div class="aui-list-item-media avatar">
            <img :src="student.avatar" class="aui-img-round aui-list-img-sm">
          </div>
          <div class="aui-list-item-inner aui-list-item-arrow">
            <div class="aui-list-item-text">
              <div class="aui-list-item-title aui-font-size-14">{{student.babyname}}</div>
              <div v-if="editStudent" class="aui-list-item-right">
                <div class=" aui-btn aui-btn-primary aui-margin-r-5 edit">编辑</div>
                <div class=" aui-btn aui-btn-danger del">删除</div>
              </div>
            </div>
            <div class="aui-list-item-text"><small class=" aui-font-size-12">{{student.gender}}，{{student.age}}</small></div>
          </div>
        </div>
      </li>
    </ul>
  </section>
</div>