.aui-list .aui-list-item:active { background-color: #ffffff;}
.classes span[data-num]::before {content: attr(data-num)'人';}
.teacher small, .student small { color: #757575; }
.aui-list .aui-list-header { background-color: #03a9f4; color: #ffffff;}
.aui-list .aui-list-item-title { height: 1.5rem; }
.aui-list .aui-list-item-right {color: #ffffff;}
.aui-media-list .aui-list-item-media img {width: 3rem; height: 3rem;}

.aui-switch { height: 0.9rem; }
.aui-switch:before { height: 0.8rem; }
.aui-switch:checked {border-color: #4cd964; background-color: #4cd964; }