@import "../../../mui/sass/variables.scss";
@import "../../../mui/sass/mixins.scss";

@import "../../../common/sass/list.scss";
@import "../../../common/sass/cardlist.scss";
@import "../../../common/sass/label.scss";
@import "../../../common/sass/tab.scss";
@import "../../../common/sass/bar.scss";
@import "../../../common/sass/bartab.scss";

.aui-icon-info:before { content: "\e6ed"; }
.aui-icon-phone:before { content: "\e6c4"; }
/*.aui-icon-star:before { content: "\e6e0"; }*/
.aui-icon-qq:before { content: "\e6cb"; }
.aui-icon-wechat:before { content: "\e6c9"; }
.aui-icon-share:before { content: "\e700"; }
.aui-icon-location:before { content: "\e6d1"; }

@font-face {
    font-family: "star";
    src: url('../../../common/fonts/star.ttf') format('truetype');
}

.mystar {
    font-family:"star" !important;
}
.mystar.aui-icon-star:before { content: "\e639"; }
.mystar.fill.aui-icon-star:before { content: "\e909"; }

.aui-list .aui-list-item-label-icon.label-text {
    line-height: 38px;
    align-items: baseline;
    -webkit-align-items: baseline;
  }
.text-light {
    color: #999;
  }
.bg-white {
    background: #ffffff;
  }
.aui-tab-item {
    width: 32px;
    margin: 0 auto;
  }

.aui-content footer {
  border-top:1px solid #e0e0e0; /*no*/
  position:fixed;
  -webkit-transform: translateZ(0);
  bottom:0;
  left:0;
  z-index: 99;
}
.aui-content .aui-text-white{
    font-size: 12px;
}

.jinggao {
    padding: 10px 15px;
    color: #86735a;
}

.aui-list .aui-list-item-title {
    color: #86735a;
}

.title{
    margin:10px 8px 0;
    padding:0 8px;
    border:1px solid #d9d9d9; /*no*/
    background-color: #fff;
}
.title::before{
    display:block;
    border-bottom:1px solid #d9d9d9; /*no*/
    content: attr(data-title);
    padding: 2px 0 3px;
    font-size: 20px;
    line-height: 30px;
    color: #4d4d4d;
}
.title price{
    display: -webkit-box;
    font-size: 17px;
    line-height: 25px;
    color: #f60;
}
.title price::after{
    content: "有效期："attr(data-todate)"";
    font-size: 14px;
    color: #999;
    text-align:right;
    display: block;
    -webkit-box-flex:1;
}
.title small{
    display:-webkit-box;
    margin-top: 6px;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #999;
}
.title small::before{
    content: "类别： "attr(data-catname);
    display: block;
    -webkit-box-flex:1;
}
.title small::after{
    content: "已有"attr(data-hot)"人浏览";
}

.mobile{
    margin:10px 8px 0;
    display:-webkit-box;
    height: 50px;
}
.mobile dl{
    -webkit-box-flex:1;
    display:-webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-pack:center;
    color: #fff;
    background-color: #333;
}
.mobile dl dt{
    display: block;
    padding-left: 10px;
    font-size: 15px;
    line-height: 20px;
}
.mobile dl dd{
    display: block;
    padding-left: 10px;
    font-size: 13px;
    line-height: 14px;
}

.mobile a{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    width: 80px;
    font-size: 12px;
    color: #fff;
}
.mobile a img{
    width: 20px;
    height: 20px;
}
.mobile a:after{
    content: attr(title);
    display: block;
    margin-top: 4px;
}
.mobile a[title="电话"]{
    background-color: #ff722d;
}

.location {
    margin:10px 8px 0;
    border:1px solid #d9d9d9; /*no*/
}
.location .aui-list-item-inner {
    color:#ce9b3c;
    font-size:18px;
    line-height:22px;
}