body {background-color: #333 !important;}
.user-info {
    background-color: #ffffff;
    padding: 0.75rem 0;
}
img.avatar {
    display: block;
    margin: 0 auto;
    width: 20%;
}
.aui-list-item-label-icon {
  color: #cccccc;
}