@import "../../../mui/sass/variables.scss";
@import "../../../mui/sass/mixins.scss";

@import "../../../common/sass/list.scss";
@import "../../../common/sass/info.scss";
@import "../../../common/sass/popup.scss";

@import "../../../plugin/mescroll/mescroll.min.css";

iframe{
  border: 0;
  width: 100%;
  height: 100%;  
}

.aui-mask {
    z-index: 100;
}
    
.subfilter {
  display:-webkit-box;
  border-bottom:1px solid #e0e0e0; /*no*/
  width: 100%;
  position:fixed;
  -webkit-transform: translateZ(0);
  top:0;
  left:0;
  z-index: 99;
}
.subfilter a{
    display:-webkit-box;
    -webkit-box-flex:1;
    padding:12px 4px;
    width:100%;
    height:40px;
    border-left:1px solid #e0e0e0; /*no*/
    background-repeat:no-repeat;
    background-origin:content-box;
    line-height:20px;
    -webkit-background-size:20px 20px;
    background-color:#fff;
}
.subfilter a::nth-child(1){
    border-left:0;
}
.subfilter a::before{
    -webkit-box-flex:1;
    display:block;
    width:100%;
    margin-left:20px;
    content:attr(title);
    font-size:14px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}
.subfilter a::after{
    display:block;
    width:20px;
    height:20px;
    content:"";
    background:url(./images/select_icon.png) no-repeat;
    -webkit-background-size:20px 20px;
}
#shop_area{
    background-image:url(./images/area_icon.png);
}
#shop_categ{
    background-image:url(./images/categ_icon.png);
}
#shop_sort{
    background-image:url(./images/sort_icon.png);
}
/* */
#categs{
    display:-webkit-box;
    position:fixed;
    -webkit-transform: translateZ(0);
    top:41px;
    left:-1000px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.1);
    z-index: 99;
}
#categs div{
    height:318px;
}
#categ_max{
    width:40%;
}
#categ_min{
    -webkit-box-flex:1;
}
#areas{
    position:fixed;
    -webkit-transform: translateZ(0);
    top:41px;
    left:-1000px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.1);
    z-index: 99;
}
#areas div{
    height:220px;
}
#sorts{
    position:fixed;
    -webkit-transform: translateZ(0);
    top:41px;
    left:-1000px;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.1);
    z-index: 99;
}
#sorts div{
    height:144px;
}

/*list*/
.aui-media-list .aui-list-item-inner {
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-align:start;
}
.aui-media-list .aui-list-item-inner .aui-info {
    width: 100%;
}
.aui-list .aui-list-item-right {
    width: 80px;
}
.aui-icon-location:before { content: "\e6d1"; }
.listwarp {
  position: relative;
  top: 40px;
}
