@import "../../../mui/sass/variables.scss";
@import "../../../mui/sass/mixins.scss";

@import "../../../common/sass/list.scss";
@import "../../../common/sass/cardlist.scss";

.aui-list .aui-list-item-media {
    width: 40px;
}

.title{
    font-size: 18px !important;
    font-weight: 700;
}

.subtitle {
    font-size: 11px;
    color: #747474;
    padding-left: 5px;
    padding-bottom: 10px;
}

.subtitle>div {
    display: inline-block;
    margin-left: 10px;
}

#praise{
    position:relative;
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-box-pack:center;
    -webkit-box-align:center;
    margin:10px auto;
    width:71px;
    height:71px;
    color:#86735a;
    font-size:14px;
    background-color:#fafafa;
    border:1px solid #e0e0e0; /*no*/
    -webkit-border-radius:71px;
}
#praise::before{
    content:"";
    display:block;
    width:24px;
    height:24px;
    margin-bottom:4px;
    background:url('./images/praise.png') no-repeat center;
    -webkit-background-size:100% 100%;
}
#praise.disabled{
    border:1px solid #fabba8; /*no*/
}
#praise.disabled::before{
    background-image:url('./images/praise_disabled.png');
}
