@import "../../../mui/sass/variables.scss";
@import "../../../mui/sass/mixins.scss";

@import "../../../common/sass/list.scss";
@import "../../../common/sass/col.scss";
@import "../../../common/sass/info.scss";
@import "../../../common/sass/popup.scss";

@import "../../../common/sass/dialog.scss";

@import "../../../plugin/mescroll/mescroll.min.css";

.aui-icon-comment:before { content: "\e701"; }
.aui-icon-like:before { content: "\e62b"; }
.aui-icon-note:before { content: "\e6c6"; }

.aui-list .aui-list-item-media {
    width: 48px;
}
.aui-info-item .del {
    margin-left:10px;color:red;
}
.aui-list .comment {
  position: absolute;
  right: 40px;
  background-color: #666;
  border: 1px solid #ddd; /*no*/
  border-radius: 5px;
  color:#fff;
  font-size: 14px;
  height: 42px;
  padding-top: 8px;
}
.aui-list .comment.hide, .aui-list .reply.hide {
    display: none;
}
.aui-list .aui-card-list-footer {
  color: #fff;
  min-height:30px;
  padding:0 10px;
}
.aui-list .aui-card-list-footer > div {
    display: inline-block;
    width: 60px;
}
.aui-list .aui-icon-like::after,.aui-list .aui-icon-note::after{
  content: attr(data-op);
  padding-left: 5px;
  font-size: 14px;
}
.aui-info-item.c-icon img{
    width: 20px;
}
.opt {
    padding-top:0; 
    padding-bottom:0;
}
.reply {}
.reply .r {
    clear: both;
    border-bottom: 8px solid #eeeeee;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    width: 1px; /*no*/
    margin-top: 5px;
    margin-left: 10px;
}
.reply .cmt-wrap{
    clear: both;
    width: 100%;
    background-color: #eeeeee;
    font-size: 10px;
    -webkit-border-radius: 5px;
}
.reply .like{
    color: #576b95;
    padding: 5px 5px 3px 12px;
    border-bottom: 1px solid #dfdfe0; /*no*/
}
.reply .like img{
    width: 12px;
    max-width: 12px;
    display: inline;
    padding-right: 5px;
}
.reply .cmt-list{
    padding: 0px 12px 5px;
    color: #454545;
}
.reply .cmt-list p{
    padding-top: 3px;
    font-size: 10px;
}
.reply .cmt-list span{
    color: #3b5384;
}
.reply .cmt-list img{
  display: inline;
}