@import "../../../mui/sass/variables.scss";
@import "../../../mui/sass/mixins.scss";

@import "../../../common/sass/form.scss";
@import "../../../common/sass/col.scss";
@import "../../../common/sass/border.scss";
@import "../../../common/sass/info.scss";
@import "../../../common/sass/list.scss";
@import "../../../common/sass/switch.scss";

@import "../../../common/sass/bar.scss";
@import "../../../common/sass/bartab.scss";
@import "../../../common/sass/btn.scss";

@import "../../../common/sass/dialog.scss";

@import "../../../plugin/muipicker/mui.picker.css";
@import "../../../plugin/muipicker/mui.poppicker.css";

.aui-mask {
    z-index: 100;
}

.mui-btn, button {
    color: #333;
    border: 1px solid #ccc; /*no*/
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #fff;
    background-clip: padding-box;
}
.mui-btn-blue {
    color: #fff;
    border: 1px solid #007aff; /*no*/
    background-color: #007aff;
}
.mui-poppicker-header .mui-btn {
    padding-top: 0;
}

.aui-content footer {
  border-top:1px solid #e0e0e0; /*no*/
  position:fixed;
  -webkit-transform: translateZ(0);
  bottom:0;
  top: auto;
  left:0;
  z-index: 99;
}

.aui-icon-trash:before { content: "\e6d4"; }
.aui-icon-plus:before { content: "\e6e3"; }
.aui-icon-location:before { content: "\e6d1"; }
.aui-icon-refresh:before { content: "\e6dd"; }

.form section:before {
    content: attr(title);
    color: #757575;
    font-size: 14px;
    padding-right: 10px;
}
.form input {
    display: inline-block;
    width: 80%;
}

textarea {
    height: 128px;
    background-color: #ffffff;
    padding: 8px;
}
input[type="text"], input[type="number"] {
    background-color: #ffffff;
    padding: 0 8px;
}
select {
    background-color: #ffffff;
    padding: 0 8px;
}
.photos img {
    display: block;
    width: 100%;
}
.add-photos > div {
    width: 100%;
    height:106px;
    line-height: 106px;
}
.add-photos > div .aui-iconfont {
    font-size: 32px;
    color: #ccc;
}
.image-item {
    position: relative;
    height: 110px;
    overflow: hidden;
    background-color: #f0f0f0;
}
.image-item img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100%;
}
.image-item .delete-btn {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 28px;
    height: 28px;
    background-color: rgba(0,0,0,0.7);
    margin-left: -14px;
    margin-top: -14px;
    color: #ffffff;
    text-align: center;
    border-radius: 50%;
}
#info {
    color: blue;
}
#title {
    height: 36px;
}
