<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <meta name="format-detection" content="telephone=no,email=no,date=no,address=no" />
  <title>上学啦</title>
  <script src="../../static/mui.js"></script>
  <link rel="stylesheet" href="../../static/aui.css" />
  <style type="text/css">
    .aui-grid [class*=aui-col-] {padding: 10px 0;}
    .student {width:100%; padding: 20px 0 20px; text-align: center; }
    .student img {width: 100px !important; display: inline-block !important;}
    .student h1 {color:#ffffff;}
    .teacher img {width: 60px; height: 60px; display: inline-block;}
  </style>
</head>

<body>
  <div id="vue-app" v-cloak>
  <section class="aui-content">
    <div class="aui-card-list aui-margin-b-0">
      <div class="aui-card-list-content aui-bg-info student">
        <img :src="baobaoAvatar" class="aui-img-round" >
        <h1>{{baobaoName}}</h1>
      </div>
    </div>
  </section>
  <section class="aui-content aui-grid aui-margin-b-0 teacher">
    <div class="aui-row">
        <div class="aui-col-5" v-for="(teacher,k) in teachers">
            <img :src="teacher.avatarpic" class="aui-img-round" >
            <div class="aui-gird-lable aui-font-size-12">{{teacher.truename}} ({{teacher.teacherpost}})</div>
        </div>
    </div>
  </section>
  <section class="aui-content">
    <div class="aui-list">
      <div class="aui-list-header"><span class="aui-text-danger aui-font-size-18">成长记录</span></div>
    </div>
    <div class="aui-timeline">
      <time-line 
        v-for="(timeline,k) in timelines"
        v-bind:key="k"
        v-bind:oneday="timeline"
      ></time-line>
    </div>
  </section>
  </div>
</body>
</html>